<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Online Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Home
              <!-- <span class="visually-hidden">(current)</span> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products">Products</a>
          </li>
          @if(!isAuthenticated){<li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signup">Signup</a>
          </li>
        }
          @else{<li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/profile']">My Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/reviews']">My Reviews</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">My Orders</a>
              
            </div>
          </li>
        }
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        @if(isAuthenticated){

          <div class="mx-2">
            <a [routerLink]="['/wishlist']" class="mx-2"><i class="fa-solid fa-heart fa-2x text-warning"></i></a>
            <a [routerLink]="['/cart']" class="mx-2"><i class="fa-solid fa-cart-shopping fa-2x text-white"></i></a>
          </div>
        }
        
      </div>
    </div>
  </nav>