

<div class="cart-wrap">
    <div class="container">
        <div class="row">
            <div class="col col-lg-9">
                <div class="main-heading mb-10">
                    <h5>My Cart
                    </h5>
                </div>
                <div class="table-wishlist">
                    
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                            <tr>
                                <th width="35%">Product</th>
                                <th width="10%">Unit Price</th>
                                <th width="20%">Quantity</th>
                                <th width="10%"></th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of cart?.cartItems; track $index) {
                                <tr>
                                    <td width="35%">
                                        <div class="display-flex align-center">
                                            <div class="img-product">
                                                <img [src]="item.product.cover_url" [alt]="item.product" class="mCS_img_loaded">
                                            </div>
                                            <div class="name-product">
                                               {{item.product.name}}
                                            </div>
                                        </div>
                                    </td>
                                    <td width="10%" class="price">{{item.unit_price|currency}}</td>
                                    @if(editMode.get(item._id)){
                                        <td width="20%">
                                            <form (submit)="updateQuantity($event, item._id)">
                                                <input  type="number" required placeholder="Enter quantity" name="quantity" class="my-2 form-control" [value]="item.quantity">
                                                <button type="submit" class="btn btn-outline-success btn-sm mx-2">Save</button>
                                                <button type="button" (click)="setViewMode(item._id)" class="btn btn-outline-danger btn-sm">Cancel</button>
                                            </form>
                                        </td> 

                                    }
                                    @else{
                                        <td width="20%">{{item.quantity}}</td>
                                    }
                                    
                                    <td width="10%"><button class="btn btn-outline-info small-btn" (click)="setEditMode(item._id)">Update Quantity</button></td>
                                    <td width="5%" class="text-center"><span class="trash-icon" (click)="removeFromCart(item._id)"><i class="far fa-trash-alt" ></i></span></td>
                                </tr>
                            }
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col col-lg-3 my-4">
                <div class="card p-3">
                    <h5>Cart Summary</h5>
                    <hr>
                    <div class="card-body">
                        <p class="fw-bold"><span class="text-muted">Total Price: </span> {{cart?.totalPrice | currency}}</p>
                    </div>
                    <hr>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#checkoutModal">
                        Checkout
                    </button>
                </div>
                <div class="my-4 text-center">

                    <button class="btn btn-outline-danger mx-4" (click)="clearCart()">Clear Cart</button>
                </div>
                
                
                <!-- Modal Structure -->
                <div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="checkoutModalLabel">Checkout</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <form #checkoutForm="ngForm" (submit)="placeOrder($event)">

                                        <label for="address">Address</label>
                                        <input type="text" id="address" name="address" class="form-control" [(ngModel)]="address" placeholder="Enter your address" required>
                                        <div class="my-2">
                                            <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" [disabled]="checkoutForm.invalid" data-bs-dismiss="modal" class="btn btn-success">Place Order</button>
                                        </div>
                                        
                                    </form>
                                    
                                </div>
                            </div>
                            <div class="modal-footer">
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
