<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']">
            <span data-feather="shopping-cart"></span>
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/categories']">
            <span data-feather="users"></span>
            Categories
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/subcategories']">
            <span data-feather="users"></span>
            SubCategories
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/orders']">
            <span data-feather="file"></span>
            Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile']">
            <span data-feather="bar-chart-2"></span>
            Profile
          </a>
        </li>
        
      </ul>

      
    </div>
  </nav>