<div class="container my-4">
    <p-toast position="top-left"/>
    <div class="my-4">
        <h2 class="display-6 d-inline">SubCategories</h2>
        <a class="btn btn-outline-success d-inline float-end" routerLink="create">Add SubCategory</a>
    </div>
    <hr>
    <div class="my-2">
        <input #searchInput class="form-control w-75 d-inline" (keydown.enter)="search(searchInput.value)" type="text" placeholder="Search" style="background-color: rgb(243, 241, 241);" aria-label="Search">
        @if(searchQuery){
            <button class="btn btn-outline-danger d-inline mx-2" (click)="clearSearch(searchInput)">&times;</button>
        }
    </div>
    
    <table class="table my-4">
        <caption>List of SubCategories</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            @for (item of subcategories; track $index) {
                <tr>
                    <th scope="row">{{$index + 1}}</th>
                    <td>{{item._id}}</td>
                    @if(editMode.get(item._id)){
                        <td width="20%">
                            <form (submit)="updateName($event, item._id)">
                                <input  type="text" required placeholder="Enter Name" name="name" class="my-2 form-control" [value]="item.name">
                                <button type="submit" class="btn btn-outline-success btn-sm mx-2">Save</button>
                                <button type="button" (click)="setViewMode(item._id)" class="btn btn-outline-danger btn-sm">Cancel</button>
                            </form>
                        </td> 

                    }
                    @else{
                        <td>{{item.name}}</td>
                    }
                    
                        <td width="10%"><button class="btn btn-outline-info small-btn" (click)="setEditMode(item._id)">Update</button></td>
                        <td width="5%" class="text-center"><span class="trash-icon" (click)="deleteCategory(item._id)"><i class="far fa-trash-alt" ></i></span></td>
            
                </tr>
            }
        
        
        </tbody>
      </table>

      <div>
        <ul class="pagination w-25 m-auto justify-content-center">
          @if(pagination?.prev){
            <li  class="page-item"><button
              class="page-link" (click)="changePage(pagination?.prev!)">Previous</button></li>
            }
          @if(pagination?.currentPage!==1)
          {<li  class="page-item"><button class="page-link" (click)="changePage(1)">1</button></li>}
          <li class="page-item"><button class="page-link" (click)="changePage(pagination?.currentPage!)">{{pagination?.currentPage}}</button></li>
          
          
          
          @if(pagination?.currentPage!==pagination?.totalPages)
          {
            <li class="page-item"><button class="page-link">...</button></li>
            
            <li  class="page-item"><button
              class="page-link" (click)="changePage(pagination?.totalPages!)">{{pagination?.totalPages}}</button></li>}
          @if(pagination?.next){<li  class="page-item"><button
              class="page-link" (click)="changePage(pagination?.next!)">Next</button></li>}
        </ul>
      </div>
  
</div>

